<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/search/index.css">
</head>

<body>

    <div class="conatiner">
        <div class="searchbarconatiner">
            <h1>Welcome {{username}}</h1>
            <input type="text" id="serchbox">
            <button id="searchbutton">Search</button>
        </div>
        <div id="showcardconatiner">
            <div class="card">
                <img src="https://images.pexels.com/photos/5082567/pexels-photo-5082567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
                <h3 class="showname"></h3>
                <p class="summary"></p>
                <p>Type: , Lang: , Genres: , Status: , Schedule</p>
            </div>
        </div>
    </div>

    </div>
    <script src="/search/index.js"></script>
</body>

</html>