<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login/index.css">
</head>
<body>

    <div class="conatiner">
        <div class="formcotainer">
            <form action="/login" method="post">
                <h1>Login To Your Account</h1>
                <h3 style="display: {{loginerrordisplay}};">Login Failed. Try Again</h3>
                <input type="text" name="username" placeholder="Enter your username" maxlength="10" required>
                <input type="text" name="password" placeholder="Enter your password" minlength="8"  maxlength="16" pattern="([^\s][A-z0-9À-ž\s]+)" required>
                <button type="submit">Login</button>
            </form>
            <hr>
            <p>Dont have a account?<a href="/regiter">Register</a></p>
        </div>

    </div>
    
</body>
</html>