*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.conatiner{
    background-image: url("https://images.pexels.com/photos/5082567/pexels-photo-5082567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    float: top;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(208, 100%, 97%, 0.564);
    backdrop-filter: (10px);
}